a {
  color: #FFFFFF;
  padding: 0.8rem 1.2rem;
  font-size: 1.1rem;
  transition: 0.2s;
  font-weight: bold;
  border-radius: 2.5rem;
  text-decoration: none;
  background-color: #323232;
}

a:hover {
  background-color: #484848;
}

body {
  color: #1D1E20;
  margin: 40px;
  font-size: 1.5rem;
  font-family: DM Sans;
  background-color: #DDD0C8;
}
